<header>
  <a href="/" class="logo">NodeJS</a>
  <!-- <nav class="mobile_nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav> -->
  <% if (!data) { %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  <% }  else { %>
  <%  %>
    <a href="/profile">Profile</a></h2>
    <a href="/logout">Logout</a>
  <% } %>
</header>